.Toolbar{
    height: 56px;
    width:100%;
    position: fixed;
    top:0;
    left:0;
    background-color: #703B09;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}

.Toolbar a{
    color: white;
    font-size: x-large;
    background-color: #703B09;
    height: 100%;
    padding: 10px 10px;
    /* border-bottom: 4px solid transparent;  */
}

.Toolbar a:hover,
.Toolbar a:active,
.Toolbar a.active{
    background-color: #8F5C2C;
    border-bottom: 4px solid #40A4C8;
    color: white;
}

.Logo{
    height: 80%;
}

/* @media(max-width:499px){
    .DesktopOnly{
        display: none;
    }
} */